body, html {
  height: 100%;
  margin: 0;
  color: Black;
}

h2 {
font-style: italic;
color:white;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;

}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}


.greece, .acropolis, .cave, .mt, .Spanakopita, .Souvlaki, .Loukoumades {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c0cda6;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  opacity:1;
  background-attachment: fixed;
}

.greece {
  background-image: url("greece.png");
  min-height: 100%;
  background-size: auto;
}

.acropolis {
  background-image: url("Acropolis.jpg");
  min-height: 100%;
  background-size: auto;
}

.cave {
  background-image: url("Melissani-Cave.jpg");
  min-height: 100%;
  background-size: auto;
}

.mt {
  background-image: url("Mount-Olympus.jpg");
  min-height: 100%;
  background-size: auto;
}

.Spanakopita {
  background-image: url("Spanakopita.jpg");
  min-height: 100%;
  background-size: auto;
}

.Souvlaki {
  background-image: url("Souvlaki.jpg");
  min-height: 100%;
  background-size: auto;
}

.Loukoumades {
  background-image: url("Loukoumades.jpg");
  min-height: 100%;
  background-size: auto;
}

.navigation {
  background-color: #007ba7;
  padding:5px 50px;

}

.icons {
  position:center;
}

.icon2{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon1{
  position: absolute;
  display: block;
  left: 350px;
}

.icon3{
  float: right;
  display: block;
  right: 0px;
  margin-top: -150px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
}


.textSection {
  background-color:#578c7d;
  padding:50px 80px;
  color:white;
}

.caption {
position: absolute;
top: 40%;
width: 100%;
text-align: center;
}

.border {
background-color: #578c7d;
color: White;
padding: 18px;
font-size: 100px;
letter-spacing: 5px;
}

/* Turn off parallax scrolling for tablets and phones as it is not supported */
@media only screen and (max-device-width: 1024px) {
.greece
{
background-attachment: scroll;
  }
}
